@charset "UTF-8";
h1 {
  padding-left: 18px;
  font-size: 22px;
  display: inline;
}

.banner {
  margin-top: 16px;
  margin-bottom: 36px;
}

label {
  margin: 0;
}

.power {
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.power p {
  text-align: center;
}

.ad {
  height: 80px;
}

.ad .advertising {
  background: url(../../image/logo与图片素材/头图.png) no-repeat center center;
  background-size: 100%;
}

.toggle_cont > div {
  display: none;
}

.toggle_cont .show {
  display: block;
}

.nav-list {
  height: 50px;
  border-bottom: 1px solid #1D9CCB;
}

.nav-list li {
  line-height: 48px;
  font-size: 20px;
  padding: 0 24px;
  border: 1px solid transparent;
}

.nav-list .active {
  cursor: default;
  border: 1px solid #1D9CCB;
  border-bottom-color: #fff;
}

.title {
  margin-top: 19px;
  margin-bottom: 18px;
  background: #EFEAEA;
  height: 74px;
}

.title h1 {
  font-weight: 300;
  color: #1D9CCB;
}

.title h1 .xx {
  font-size: 30px;
  padding: 0px 10px;
}

.information {
  position: relative;
}

.information #demo2 {
  width: 142px;
  height: 134px;
}

.t-education {
  position: absolute;
  top: 0;
  right: 3%;
}

.title-img {
  position: absolute;
  top: 0;
  right: 20%;
}

.title-img .layui-upload-img {
  width: 92px;
  height: 92px;
}

.title-img .layui-btn {
  background: #1D9CCB;
}

.layui-laydate-main {
  width: 248px;
}

#test2 {
  background: url(../../image/logo与图片素材/上传拷贝.png) no-repeat center center;
  background-size: 50%;
}

.title-content input[type=text] {
  width: 248px;
  height: 28px;
}

.title-content input[type=button], .title-content .t-name > .ib > button {
  text-align: center;
  width: 104px;
  height: 28px;
  outline: 0;
  border: 1px solid #EFEAEA;
  color: #fff;
}

.title-content span {
  width: 100px;
  display: inline-block;
  text-align: end;
  padding-right: 10px;
}

.title-content .ib {
  display: inline-block;
}

.title-content .right {
  padding-left: 20px;
}

.title-content .layui-form {
  display: inline-block;
}

.title-content .layui-form div:nth-child(3) input[type=text] {
  width: 120px;
}

.title-content .bg-color {
  background: #1D9CCB;
}

.layui-input-block {
  margin-left: 0 !important;
}

.t-contach .right input[type=text] {
  width: 100px;
}

.t-income .right span {
  text-align: left;
}

.right-txt {
  display: inline-block;
}

.t-pay .layui-form .layui-input-inline:nth-child(1) input[type=text] {
  width: 116px;
}

.t-pay .layui-form .layui-input-inline:nth-child(2) input[type=text] {
  width: 258px;
}

.job .right-txt input[type=text] {
  width: 368px;
  height: 28px;
}

.job .t-person > span {
  width: 284px;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
}

.job .t-person .left span, .job .t-evaluate .left span {
  padding-right: 15px;
}

.job .t-evaluate {
  position: relative;
}

.job .t-evaluate .left {
  position: absolute;
}

.job .t-evaluate .right-txt {
  position: relative;
  left: 100px;
}

.job .t-evaluate .right-txt .boxes {
  width: 768px;
  height: 130px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

.job .t-evaluate .right-txt .font-num {
  text-align: right;
}

.job .t-btn {
  text-align: center;
  margin-top: 73px;
  margin-bottom: 59px;
}

.job .t-btn input[type=button] {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background: #477EBA;
}

.title-content > div {
  margin-top: 14px;
  margin-bottom: 14px;
}

.title-aq {
  height: 31px;
  margin-top: 18px;
  margin-bottom: 17px;
}

.title-aq h1 {
  color: #477eba;
  font-size: 25px;
}

.email_tip {
  height: 39px;
  background: #EFEAEA;
}

.email_tip p {
  line-height: 39px;
  font-size: 15px;
}

.email_tip p a {
  font-size: 13px;
  color: red;
  padding-right: 5px;
}

.aq {
  margin-bottom: 259px;
}

.cont {
  width: 847px;
  height: 70px;
}

.cont .bt span:nth-child(1) {
  padding-left: 22px;
  padding-right: 31px;
}

.cont .bt .ico-ico {
  color: #477EBA;
  font-size: 20px;
}

.cont .xg input {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #477eba;
  color: #ffffff;
  height: 33px;
  width: 100px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
}

.cont {
  width: 847px;
  height: 70px;
}

.cont .bt span:nth-child(1) {
  padding-left: 22px;
  padding-right: 31px;
}

.cont .xg span {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.cont .dh, .cont .ne {
  font-size: 15px;
}

.cont-name {
  width: 867px;
}

.gz > div:nth-child(1) {
  height: 74px;
  background: #EFEAEA;
  margin-top: 19px;
  margin-bottom: 30px;
}

.hello {
  padding-left: 15px;
  padding-right: 0;
}

.hello h1 {
  padding: 0;
  font-size: 19px;
}

.hello span {
  display: block;
  font-size: 15px;
}

.hello span a {
  font-size: 13px;
  color: red;
}

.jl {
  border: 1px solid #EFEAEA;
}

.jl .jl-left, .jl .jl-right {
  width: 190px;
  height: 200px;
}

.jl .jl-left img {
  width: 80px;
  height: 91px;
  margin-left: 63px;
  background: radial-gradient(black, transparent);
}

.jl .jl-center {
  flex: 1;
}

.jl .jl-center .center-cont {
  color: #666666;
}

.jl .jl-center .center-cont .center-title {
  height: 20px;
}

.jl .jl-center .center-cont .center-title h1 {
  padding: 0;
  font-size: 19px;
}

.jl .jl-center .center-cont .center-title a {
  font-size: 12px;
  background: #1D9CCB;
  color: #fff;
  margin-left: 8px;
  padding: 2px 5px;
}

.jl .jl-center .center-cont > p {
  margin-top: 15px;
  margin-bottom: 19px;
  font-size: 15px;
}

.jl .jl-center .center-cont > div:nth-child(3) {
  margin-bottom: 11px;
}

.jl .jl-center .center-cont > div:nth-child(3) span {
  border-right: 1px solid #666666;
  padding-left: 10px;
  padding-right: 10px;
}

.jl .jl-center .center-cont > div:nth-child(3) span:nth-child(2) {
  padding-left: 13px;
}

.jl .jl-center .center-cont > div:nth-child(3) span:nth-child(6) {
  border-right: 0;
}

.jl .jl-center .center-cont > div:nth-child(4) span {
  padding-left: 10px;
  padding-right: 10px;
}

.jl .jl-center .center-cont > div:nth-child(4) span:nth-child(2) {
  border-right: 1px solid #666666;
  padding-left: 13px;
}

.jl .jl-right .right-cont input {
  display: block;
  height: 28px;
  width: 89px;
  text-align: center;
  outline: none;
  border: 1px solid #EFEAEA;
  font-size: 13px;
}

.jl .jl-right .right-cont input:nth-child(1) {
  margin-bottom: 7px;
  background: #0090c5;
  color: #fff;
}

.jl .jl-right .right-cont input:nth-child(2) {
  margin-top: 7px;
  background: #efeaea;
}

.sq {
  margin-top: 34px;
  margin-bottom: 12px;
  height: 35px;
  border-bottom: 1px solid #EFEAEA;
}

.sq h1 {
  color: #477EBA;
}

.sq-nav ul {
  background: #efeaea;
}

.sq-nav ul .sty_ac {
  background: #0090c5;
}

.sq-nav ul .sty_ac a {
  color: #fff;
}

.sq-nav ul li {
  width: 104px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 19px;
}

.sq-cont > .layui-form {
  margin: 0;
  width: 100%;
}

.sc {
  border-bottom: 1px solid #e5e1e1;
}

.sc h1 {
  font-size: 25px;
  color: #477eba;
}

.sc-title, .sc-info {
  margin-top: 12px;
  height: 30px;
  display: flex;
  background: #efeaea;
}

.sc-title p, .sc-title a, .sc-info p, .sc-info a {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}

.sc-title .sc-bh, .sc-info .sc-bh {
  width: 200px;
  font-size: 15px;
  margin-left: 18px;
}

.sc-title .sc-bh input[type=checkbox], .sc-info .sc-bh input[type=checkbox] {
  margin-right: 22px;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.sc-title .sc-j, .sc-info .sc-j {
  flex: 1;
}

.sc-title .sc-xg, .sc-info .sc-xg {
  width: 300px;
  text-align: center;
}

.sc-title .sc-xg a, .sc-info .sc-xg a {
  padding: 0 5px;
}

.sc-title > div {
  display: inline-block;
}

.sc-info {
  background: none;
}

.sc-content .sc-c {
  margin-top: 39px;
  margin-bottom: 36px;
}

.sc-foot {
  background: #efeaea;
  height: 44px;
}

.sc-foot .sc-left {
  font-size: 15px;
  margin-left: 18px;
}

.sc-foot .sc-left input[type=checkbox] {
  margin-right: 22px;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.sc-foot .sc-right {
  margin-right: 49px;
}

.sc-foot .sc-right input[type=button] {
  width: 156px;
  height: 30px;
  background-color: #477eba;
  outline: none;
  border: 0;
  color: #fff;
  text-align: center;
}

.sc-foot .sc-right input:nth-child(1) {
  margin-right: 45px;
}

.option {
  width: 1190px;
  height: 44px;
  background-color: #efeaea;
  line-height: 44px;
  text-align: center;
}

.option li {
  list-style-type: none;
  float: left;
  margin: 0 30px;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.option1 {
  width: 136px;
  height: 44px;
  float: left;
  background-color: #592ef3;
}

.option2 {
  width: 136px;
  height: 44px;
  float: left;
}

.option1 a {
  color: white;
}

.details {
  width: 1190px;
  height: 200px;
}

.detailstu {
  width: 70px;
  height: 70px;
  float: left;
  line-height: 65px;
  margin-left: 37px;
  margin-top: 52px;
}

.detailszi {
  width: 432px;
  height: 124px;
  float: left;
}

.detailszi p {
  line-height: 10px;
}

.detailsqian {
  width: 159px;
  height: 80px;
  float: left;
  line-height: 20px;
  margin-left: 109px;
  margin-top: 40px;
}

.detailsjian {
  width: 92px;
  height: 32px;
  float: left;
  line-height: 32px;
  margin-left: 145px;
  font-size: 15px;
  background-color: #4222f8;
  margin: 104px 0px 0px 128px;
  text-align: center;
}

.detailsjian a {
  color: white;
}

.detailsshuo {
  width: 50px;
  height: 13px;
  font-size: 12px;
  float: right;
  margin-top: 30px;
  margin-right: 154px;
  margin-left: 1050px;
  color: #999999;
}

.detailszi h2 {
  font-size: 18px;
}

.detailszi p1 {
  font-size: 15px;
  color: #c8caca;
}

.detailszi p {
  font-size: 15px;
}

.detailszi span {
  font-size: 15px;
  color: #e70505;
}

.detailsxian {
  width: 1200px;
  height: 1px;
  background-color: #d4d1cc;
  margin-top: 30px;
}

.details1 {
  width: 1190px;
  height: 200px;
}

.detailstu1 {
  width: 70px;
  height: 70px;
  float: left;
  line-height: 65px;
  margin-left: 37px;
  margin-top: 52px;
}

.detailszi1 {
  width: 432px;
  height: 176px;
  float: left;
}

.detailszi1 p {
  line-height: 17px;
}

.detailsqian1 {
  width: 159px;
  height: 80px;
  float: left;
  line-height: 20px;
  margin-left: 109px;
  margin-top: 40px;
}

.detailsjian1 {
  width: 92px;
  height: 32px;
  float: left;
  line-height: 32px;
  margin-left: 145px;
  font-size: 15px;
  background-color: #4222f8;
  margin: 104px 0px 0px 128px;
  text-align: center;
}

.detailsjian1 a {
  color: white;
}

.detailsshuo1 {
  width: 50px;
  height: 13px;
  font-size: 12px;
  float: right;
  margin-top: 9px;
  margin-right: 154px;
  margin-left: 1050px;
  color: #999999;
}

.detailszi1 h2 {
  font-size: 18px;
}

.detailszi1 p1 {
  font-size: 15px;
  color: #c8caca;
}

.detailszi1 p {
  font-size: 15px;
}

.detailszi1 span {
  font-size: 15px;
  color: #e70505;
}

.detailsxian1 {
  width: 1190px;
  height: 1px;
  background-color: #d4d1cc;
  margin-top: 30px;
}

.details2 {
  width: 1190px;
  height: 200px;
}

.detailstu2 {
  width: 70px;
  height: 70px;
  float: left;
  line-height: 65px;
  margin-left: 37px;
  margin-top: 52px;
}

.detailszi2 {
  width: 432px;
  height: 176px;
  float: left;
}

.detailszi2 p {
  line-height: 17px;
}

.detailsqian2 {
  width: 159px;
  height: 80px;
  float: left;
  line-height: 20px;
  margin-left: 109px;
  margin-top: 40px;
}

.detailsjian2 {
  width: 92px;
  height: 32px;
  float: left;
  line-height: 32px;
  margin-left: 145px;
  font-size: 15px;
  background-color: #4222f8;
  margin: 104px 0px 0px 128px;
  text-align: center;
}

.detailsjian2 a {
  color: white;
}

.detailsshuo2 {
  width: 50px;
  height: 13px;
  font-size: 12px;
  float: right;
  margin-top: 9px;
  margin-right: 154px;
  margin-left: 1050px;
  color: #999999;
}

.detailszi2 h2 {
  font-size: 18px;
}

.detailszi2 p1 {
  font-size: 15px;
  color: #c8caca;
}

.detailszi2 p {
  font-size: 15px;
}

.detailszi2 span {
  font-size: 15px;
  color: #e70505;
}

.detailsxian2 {
  width: 1190px;
  height: 1px;
  background-color: #d4d1cc;
  margin-top: 30px;
}

.gd p {
  height: 500px;
  text-align: center;
  line-height: 500px;
  font-size: 30px;
}
