@charset "UTF-8";
.toib {
  display: inline-block;
}

.ad {
  width: 1190px;
  height: 66px;
  border: 1px solid #000;
  margin: 0 auto;
}

.container > p {
  height: 500px;
  text-align: center;
  line-height: 500px;
  font-size: 30px;
}

.sec-banner {
  width: 1190px;
  height: 52px;
  border-bottom: 1px solid #0090c5;
  box-sizing: border-box;
  margin: 70px auto 0;
}

.sec-banner ul {
  display: flex;
  justify-content: space-between;
}

.sec-banner ul li a {
  font-size: 23px;
  color: #666666;
  padding-bottom: 12px;
  line-height: 50px;
  padding: 0 24px 12px;
  z-index: 100;
}

.mess, .approve {
  font-size: 17px;
  color: #666666;
  margin: 19px auto 0;
  width: 1190px;
  height: 543px;
}

.mess .mess-nav, .approve .mess-nav, .mess .approve-nav, .approve .approve-nav {
  height: 74px;
  border: 1px solid #d5d3d3;
  padding-left: 18px;
  background-color: #efeaea;
}

.mess .mess-nav span:nth-child(1), .approve .mess-nav span:nth-child(1), .mess .approve-nav span:nth-child(1), .approve .approve-nav span:nth-child(1) {
  font: 600 25px/74px "microsoft yahei";
  color: #666666;
}

.mess .mess-nav span:nth-child(2), .approve .mess-nav span:nth-child(2), .mess .approve-nav span:nth-child(2), .approve .approve-nav span:nth-child(2) {
  margin-left: 27px;
  font-size: 15px;
  color: #ef3e3e;
}

.mess input, .approve input {
  width: 252px;
  height: 36px;
}

.mess .mess-content, .approve .mess-content {
  display: flex;
}

.mess .mess-content span, .approve .mess-content span {
  color: #ef3e3e;
}

.mess .mess-left-top, .approve .mess-left-top {
  margin-top: 15px;
  width: 400px;
}

.mess .mess-left-top div, .approve .mess-left-top div {
  text-align: right;
  height: 50px;
}

.mess .mess-left-top div label, .approve .mess-left-top div label {
  width: 112px;
  text-align: right;
}

.mess .mess-left-top div span, .approve .mess-left-top div span {
  margin-left: 9px;
  padding-right: 9px;
}

.mess .com_scale, .approve .com_scale {
  width: 252px;
  height: 36px;
}

.mess-left-bottom {
  width: 496px;
}

.mess-left-bottom div {
  text-align: right;
}

.mess-left-bottom textarea {
  width: 348px;
  height: 101px;
  resize: none;
}

.mess-left-bottom .apt-check .apt-check-send {
  display: inline-block;
  width: 348px;
  height: 149px;
  resize: none;
  cursor: pointer;
  border: 1px solid #efeaea;
}

.mess-left-bottom .apt-check .apt-check-send i {
  display: block;
  text-align: center;
}

.mess-left-bottom select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #efeaea;
  outline: none;
  width: 111px;
  height: 36px;
  background: url(../../image/图标/企业下拉菜单.png) no-repeat right;
}

.mess-left-bottom .sect {
  width: 149px;
  height: 36px;
  line-height: 36px;
}

.mess-left-bottom .sect1 {
  width: 347px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.mess-left-bottom span {
  margin-left: 9px;
  padding-right: 9px;
}

.mess-left-bottom .sect,
.mess-left-bottom .sect1 {
  float: left;
}

.mess-left-bottom .apt-check div {
  position: relative;
}

.mess-left-bottom .apt-check div label {
  position: absolute;
  top: 0;
  left: 55px;
}

.mess-right {
  margin-top: 10px;
  width: 694px;
}

.mess-right textarea {
  width: 456px;
  height: 146px;
  resize: none;
}

.mess-right .sumit1,
.mess-right .sumit2 {
  width: 92px;
  height: 17px;
}

.mess-right .sumit1 label,
.mess-right .sumit2 label {
  text-align: right;
}

.mess-blank {
  width: 127px;
}

.pic-give {
  border: 1px solid #d5d3d3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 134px;
  border: 1px solid black;
  background: url(../../image/logo与图片素材/上传拷贝.png) no-repeat center;
}

.pic-give img {
  width: 142px;
  height: 134px;
}

.pic-give .layui-upload-list {
  width: 100%;
  height: 100%;
}

.mess-right > div {
  display: flex;
  margin-bottom: 17px;
}

.approve {
  margin-top: 260px;
  border-bottom: 1px dashed #d5d3d3;
}

.approve input {
  width: 252px;
  height: 36px;
}

.approve .id-card-3 {
  margin-top: 15px;
}

.title-wh {
  text-align: right;
  width: 148px;
}

.approve-pub span {
  color: red;
  margin-right: 9px;
}

.send-id {
  font-size: 15px !important;
  margin-top: 23px;
}

.approve-pub:nth-child(1) {
  margin-top: 31px;
}

.approve-pub:nth-child(2) {
  margin-top: 18px;
}

.id-card-box {
  width: 686px;
  height: 205px;
  margin-left: 153px;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.id-card {
  border: 1px solid #d0cfcf;
  position: relative;
  width: 330px;
  height: 205px;
}

.id-card .send-myhead {
  width: 10px;
  height: 10px;
}

.id-card .send-myhead img {
  width: 330px;
  height: 205px;
}

.id-card .send-myhead button {
  width: 140px;
  height: 158px;
  background: url(../../image/logo与图片素材/id_Positive-0a929d430bd699a8c02fcd76927b6398b43a74f4e21e463f7fd53dda69129f20.png) no-repeat;
  position: absolute;
  top: 24px;
  left: 81px;
  outline: none;
}

.id-card .send-myhead button span {
  font-size: 12px;
  color: #d0cfcf;
  position: absolute;
  bottom: -50px;
  left: 0;
}

#test3 {
  background: url(../../image/logo与图片素材/id_opposite-70c360ee0ac3d755fa37fcde02c59ff70eede5dbbe724e59dac2ca1a156fb7f4.png) no-repeat;
}

.intro-ab {
  margin-top: 15px;
}

.intro-ab span {
  position: absolute;
  left: 117px;
}

.btn-mess {
  width: 280px;
  height: 51px;
  background-color: #477eba;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin: 33px 758px 67px;
}

.part3, .part2 {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.pro-box span {
  flex: 1;
}

.pro-nav {
  width: 890px;
  height: 74px;
  border: solid 1px #d0cfcf;
  border: 1px solid #d5d3d3;
  padding-left: 18px;
  background-color: #efeaea;
  font: 600 25px/74px "microsoft yahei";
  margin: 0 auto;
}

.part3-left {
  width: 891px;
}

.part3-right1 {
  width: 274px;
  height: 251px;
  background-color: #efeaea;
  border-radius: 10px;
}

.part3-right1 img {
  width: 71px;
  margin: 33px 0 16px 102px;
}

.part3-right1 p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
}

.part3-right2 {
  overflow: hidden;
  margin-top: 17px;
  background-color: #efeaea;
  height: 182px;
  width: 274px;
}

.part3-right2 .contact-comp1 {
  margin-left: 35px;
  color: #666666;
  margin-top: 15px;
}

.part3-right2 .contact-comp1 h3 {
  font: 700 18px "microsoft yhei";
}

.part3-right2 .contact-comp1 p {
  font-size: 12px;
}

.part3-right2 .contact-comp1 .toib p:nth-child(1) {
  font: 700 24px "microsoft yahei";
}

.part3-right2 .contact-comp1 .toib:nth-of-type(1) {
  font-size: 40px;
  position: relative;
  top: -10px;
}

.pro-blank {
  flex: 1;
}

.collect {
  margin: 29px 0;
}

.part2 {
  position: relative;
}

.part2 input {
  width: 221px;
  height: 36px;
}

.pro-nav .issue {
  font-size: 15px;
  color: #666;
  margin-left: 18px;
}

.pro-nav .issue span {
  color: red;
}

.ineed {
  margin-top: 22px;
}

.ineed label {
  vertical-align: top;
}

.ineed textarea {
  width: 759px;
  height: 108px;
  resize: none;
}

.give-time {
  margin-top: 19px;
  margin-bottom: 18px;
}

.give-time input:nth-of-type(1) {
  width: 185px;
  margin-right: 156px;
}

.give-time select {
  width: 221px;
  height: 36px;
}

.give-time select:nth-of-type(1) {
  margin-right: 156px;
}

.type-check input[type="radio"] {
  width: 20px;
  height: 20px;
}

.type-check label {
  padding-right: 37px;
}

.pic-paper {
  margin-top: 23px;
}

.pic-paper label {
  padding-right: 5px;
}

.pic-paper button {
  width: 185px;
  height: 36px;
  background-color: #477eba;
}

.btn-mess2 {
  margin-left: 320px;
}

.part {
  margin-top: 22px;
}

.borderBlue {
  border: 1px solid #477eba;
  border-bottom: 1px solid #fff;
}

.sc {
  border-bottom: 1px solid #e5e1e1;
}

.sc h1 {
  font-size: 25px;
  color: #477eba;
}

.sc-title, .sc-info {
  margin-top: 12px;
  height: 30px;
  display: flex;
  background: #efeaea;
}

.sc-title p, .sc-title a, .sc-info p, .sc-info a {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}

.sc-title .sc-bh, .sc-info .sc-bh {
  width: 200px;
  font-size: 15px;
  margin-left: 18px;
}

.sc-title .sc-bh input[type=checkbox], .sc-info .sc-bh input[type=checkbox] {
  margin-right: 22px;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.sc-title .sc-j, .sc-info .sc-j {
  flex: 1;
}

.sc-title .sc-xg, .sc-info .sc-xg {
  width: 300px;
  text-align: center;
}

.sc-title .sc-xg a, .sc-info .sc-xg a {
  padding: 0 5px;
}

.sc-title > div {
  display: inline-block;
}

.sc-info {
  background: none;
}

.sc-content .sc-c {
  width: 39pxpx;
  height: 36pxpx;
}

.sc-foot {
  background: #efeaea;
  height: 44px;
}

.sc-foot .sc-left {
  font-size: 15px;
  margin-left: 18px;
}

.sc-foot .sc-left input[type=checkbox] {
  margin-right: 22px;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
}

.sc-foot .sc-right {
  margin-right: 49px;
}

.sc-foot .sc-right input[type=button] {
  width: 156px;
  height: 30px;
  background-color: #477eba;
  outline: none;
  border: 0;
  color: #fff;
  text-align: center;
}

.sc-foot .sc-right input:nth-child(1) {
  margin-right: 45px;
}
