* {
  font-family: MicrosoftYaHei;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}

.resume-bg {
  background-color: #F5F5F5;
}

.resume-bg .resume-details {
  margin: 0 auto;
  width: 1120px;
}

.resume-bg .resume-details .resume-tit {
  width: 791px;
  margin-bottom: 35px;
  padding-top: 50px;
}

.resume-bg .resume-details .resume-tit span {
  font-size: 24px;
  color: #333333;
}

.resume-bg .resume-details .resume-tit .resume-bor {
  width: 860px;
  margin-left: 160px;
  border-bottom: 1px solid #efeaea;
}

.resume-bg .resume-details .resume-name .resume-head {
  height: 160px;
  width: 126px;
  float: right;
  margin-right: 155px;
}

.resume-bg .resume-details .resume-name .layout {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #42413f;
  padding: 25px;
}

.resume-bg .resume-details .resume-name .layout span:nth-child(1) {
  margin: 0;
}

.resume-bg .resume-details .resume-name .layout span {
  margin-left: 100px;
}

.resume-bg .resume-details .resume-name .layout .resume-a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-bg .resume-details .resume-name .layout .resume-g {
  margin: 0;
}

.resume-bg .resume-details .resume-name .layout .resume-books {
  width: 347px;
  height: 149px;
}

.resume-bg .resume-details .resume-name .resume-none {
  display: none;
}

.resume-bg .resume-btn {
  text-align: center;
}

.resume-bg .resume-btn input {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 60px 90px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 268px;
  height: 56px;
  background-color: #477eba;
  border-radius: 10px;
  font-size: 26px;
  color: #ffffff;
}
