* {
  font-family: MicrosoftYaHei;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}

ul {
  display: flex;
}

.search-from {
  width: 1190px;
  background-color: #efeaea;
  margin: 0 auto;
}

.search-from .search-center {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #bfbfbf;
}

.search-from .search-center span {
  margin-left: 18px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.search-from .search-center div {
  display: inline-block;
}

.search-from .search-center div ul li {
  width: 60px;
  text-align: center;
}

.search-from .search-center .search-more {
  line-height: 50px;
  float: right;
  margin-right: 30px;
}

.search-list {
  width: 1190px;
  background-color: #efeaea;
  margin: 35px 357px 0;
}

.search-list .search-neir {
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #bfbfbf;
}

.search-list .search-neir ul li {
  line-height: 50px;
  width: 9%;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

.search-list .search-neir ul li:nth-child(8) {
  width: 20%;
}

.search-list .power {
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.search-list .power p {
  text-align: center;
  line-height: 200px;
}

.search-list .tit {
  background-color: #477EBA;
}

.search-list .tit ul li {
  font-size: 16px;
  color: #ffffff;
}
