

// 内容 选项
.skt{
    margin:  0 365px;
}
.option{
    width: 1190px;
    height: 44px;
    background-color:#efeaea;
    line-height:44px;
    text-align:center;
}
.option li{
    list-style-type:none;
    float: left;
    margin: 0 30px;
    
}
a{
    text-decoration:none;
    color: black;
}
.option1{
    width: 136px;
    height: 44px;
    float: left;
    background-color: rgb(89, 46, 243);
    margin-left: -39px;
    
}
.option2{
    width: 136px;
    height: 44px;
    float: left;
}
.option1 a{
    color: white;
}


// 详情内容
.details{
    width: 1190px;
    height: 200px;
    // background-color: aqua;
    
}

.detailstu{
    width: 70px;
    height: 70px;
    float: left;
    line-height:65px;
    margin-left: 37px;
    margin-top: 52px;
  
}
.detailszi{
    width: 432px;
    height: 124px;
    float: left;
    // line-height:124px;
    // margin-left: 28px;
    // margin-top: 25px;
}
.detailszi p{
     line-height:10px;
}
.detailsqian{
    width: 159px;
    height: 80px;
    float: left;
    line-height:20px;
    margin-left: 109px;
    margin-top: 40px;
}
.detailsjian{
    width: 92px;
    height: 32px;
    float: left;
    line-height:32px;
    margin-left: 145px;
    font-size: 15px;
    background-color: rgb(66, 34, 248);
    margin:104px 0px 0px 128px;
    text-align:center;
    
    
    
}
.detailsjian a{
    color: white;
}
.detailsshuo{
    width: 50px;
    height: 13px;
    font-size: 12px;
    float: right;
    margin-top: 30px;
    margin-right: 154px;
    margin-left: 1050px;
    color: #999999;
}
   
   
.detailszi h2{
    font-size: 18px;
}
.detailszi p1{
    font-size: 15px;
    color: rgb(200, 202, 202);
    
}
.detailszi p{
    font-size: 15px;
   
    
}
.detailszi span{
    font-size: 15px;
    color: rgb(231, 5, 5);
    
}
.detailsxian{
    width: 1200px;
    height: 1px;
    background-color: rgb(212, 209, 204);
    margin-top: 30px;
}

// 详情内容-2

.details1{
    width: 1190px;
    height: 200px;
    // background-color: aqua;
    margin-left: 358px;
    
}

.detailstu1{
    width: 70px;
    height: 70px;
    float: left;
    line-height:65px;
    margin-left: 37px;
    margin-top: 52px;
  
}
.detailszi1{
    width: 432px;
    height: 176px;
    float: left;
    // line-height:124px;
    // margin-left: 28px;
    // margin-top: 25px;
}
.detailszi1 p{
     line-height:17px;
}
.detailsqian1{
    width: 159px;
    height: 80px;
    float: left;
    line-height:20px;
    margin-left: 109px;
    margin-top: 40px;
}
.detailsjian1{
    width: 92px;
    height: 32px;
    float: left;
    line-height:32px;
    margin-left: 145px;
    font-size: 15px;
    background-color: rgb(66, 34, 248);
    margin:104px 0px 0px 128px;
    text-align:center;
    
    
    
}
.detailsjian1 a{
    color: white;
}
.detailsshuo1{
    width: 50px;
    height: 13px;
    font-size: 12px;
    float: right;
    margin-top: 9px;
    margin-right: 154px;
    margin-left: 1050px;
    color: #999999;
}
   
   
.detailszi1 h2{
    font-size: 18px;
}
.detailszi1 p1{
    font-size: 15px;
    color: rgb(200, 202, 202);
    
}
.detailszi1 p{
    font-size: 15px;
   
    
}
.detailszi1 span{
    font-size: 15px;
    color: rgb(231, 5, 5);
    
}
.detailsxian1{
    width: 1190px;
    height: 1px;
    background-color: rgb(212, 209, 204);
    margin-top: 30px;
}

// 内容3
.details2{
    width: 1190px;
    height: 200px;
    // background-color: aqua;
    margin-left: 358px;
    
}

.detailstu2{
    width: 70px;
    height: 70px;
    float: left;
    line-height:65px;
    margin-left: 37px;
    margin-top: 52px;
  
}
.detailszi2{
    width: 432px;
    height: 176px;
    float: left;
    // line-height:124px;
    // margin-left: 28px;
    // margin-top: 25px;
}
.detailszi2 p{
    line-height:17px;
}
.detailsqian2{
    width: 159px;
    height: 80px;
    float: left;
    line-height:20px;
    margin-left: 109px;
    margin-top: 40px;
}
.detailsjian2{
    width: 92px;
    height: 32px;
    float: left;
    line-height:32px;
    margin-left: 145px;
    font-size: 15px;
    background-color: rgb(66, 34, 248);
    margin:104px 0px 0px 128px;
    text-align:center;
    
    
    
}
.detailsjian2 a{
    color: white;
}
.detailsshuo2{
    width: 50px;
    height: 13px;
    font-size: 12px;
    float: right;
    margin-top: 9px;
    margin-right: 154px;
    margin-left: 1050px;
    color: #999999;
}
   
   
.detailszi2 h2{
    font-size: 18px;
}
.detailszi2 p1{
    font-size: 15px;
    color: rgb(200, 202, 202);
    
}
.detailszi2 p{
    font-size: 15px;
   
    
}
.detailszi2 span{
    font-size: 15px;
    color: rgb(231, 5, 5);
    
}
.detailsxian2{
    width: 1190px;
    height: 1px;
    background-color: rgb(212, 209, 204);
    margin-top: 30px;
}